@charset "UTF-8";

/* global variables */
:root {
  --bs-primary: #fb0021;
  --bs-secondary: #000000;
}
/* --- */

/* typography */
.brand-font {
  font-family: "Klee One", var(--bs-body-font-family);
}
/* --- */

/* sections styling */

/* HEADER */
header {
  position: sticky;
  top: 0px;
  z-index: 1100;
}

header div.vr {
  color: white;
}

.nav-link:hover {
  color: var(--bs-primary) !important;
}

/* MENU */
#menu-options {
  background-image: url("https://www.saga.co.uk/contentlibrary/saga/publishing/verticals/travel/destinations/asia/sushi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}

@media (max-width: 575px) {
  #menu-options {
    background-image: url("https://img.freepik.com/free-photo/japanese-food-cooking_23-2149428665.jpg");
  }
}

/* FOOTER */
ul li {
  list-style-type: none;
}

footer div.vr {
  color: white;
}
/* --- */
